@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.main-navbar{
height: 70px;
background: black;
padding-left: 45px;
display: flex;
align-items: center;
}

.logo-text{
font-weight: bold;
font-size: 24px;
line-height: 33px;
letter-spacing: -0.015em;
color: white;
margin-left: 15px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 50pt;
font-family: 'Shadows Into Light', cursive;
}